/*===================== HOME PAGE STARTING ================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

/*========== HEADER STARTING ============*/

header {
  display: flex;
  justify-content: space-between;
}

/*========= LOGO SECTION ==============*/

#logoSection {
  width: 100px;
}

#logoSection h4 {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 22px;
  height: auto;
  width: 100px;
}

/*========= ~LOGO SECTION~ ==============*/

/*========== NAVBAR STARTING ============*/

#navBar {
  margin-top: 30px;
  overflow: hidden;
  background-color: #ffff;
  float: right;
}

#navBar a {
  float: left;
  display: block;
  color: rgb(101, 67, 179);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

#navBar a:hover {
  background-color: rgb(101, 67, 179);
  color: #ffff;
}

#navBar a.active {
  background-color: #4caf50;
  color: white;
}

#navBar #icon {
  display: none;
}

@media screen and (max-width: 600px) {
  #navBar a:not(:first-child) {
    display: none;
  }
  #navBar a#icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #navBar.responsive {
    position: relative;
  }
  #navBar.responsive #icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #navBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*========== NAVBAR ENDING ============*/

/*========== HEADER ENDING ============*/

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: rgb(101, 67, 179);
  font-weight: lighter;
}

/*============== LANDING SECTION ===================*/

#landingDiv {
  position: relative;
  top: 100px;
  left: 100px;
  width: fit-content;
}

#landingText {
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 100px;
}
#landingText span {
  color: orange;
}

#svgDiv {
  display: inline-flex;
  position: relative;
  left: 30px;
  padding-top: 20px;
  width: fit-content;
}
#svgDiv p {
  color: grey;
  font-size: 1em;
  font-style: italic;
  word-wrap: break-word;
  max-width: 500px;
  padding-left: 12px;
}

.boySvg {
  fill: lightcoral;
}

.findPeople {
  position: relative;
  top: 100px;
  left: -510px;
  width: 190px;
  height: 50px;
  background-color: rgb(247, 169, 2);
  color: #ffff;
  border: 0;
  border-radius: 6%;
  font-family: "Poppins", sans-serif;
}

/*============== ~ LANDING SECTION ~ ===================*/

/*===================== HOME PAGE ENDING ================================*/
